@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*117533 2F864D 4D9866 6AA980 88BA99 A6CBB3 C4DCCC E1EEE5*/
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hind Mysuru", serif;
    background-color: #fff !important;
}

a{
  text-decoration: none;  
}

a:hover, a:focus{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem 1rem;
    background-color: #2F864D;
}

.company-brand{
    display: flex;
    align-items: center;
}

.img-logo{
    width: 60px;
}

.name-logo{
    letter-spacing: -7%;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 0.5rem 1rem;
    padding-bottom: 0rem;
    color: #fff;
}

.nav-link {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem;
}

.link a{
    position: relative;
    color: #e1eee5;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -7%;
}

.link a{
    background-color: #4d9866;
    padding: 0.5rem 1rem;
    padding-bottom: 0rem;
    border-radius: 11px;
    font-size: 1.25rem;
    font-weight: 400;
    transition: all 0.3s ease;
}

.link a:hover{
    background-color: #e1eee5;
    color: #4d9866;
}

.user{
    color: #e1eee5;
    font-size: 2rem;
    background-color: #4d9866;
    cursor: pointer;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.user:hover{
    background-color: #e1eee5;
    color: #4d9866;
}

.sub-nav-link{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem; 
    background-color: rgb(225,238,229,0.25);
}

.sub-link a{
    color: #4d9866;
    position: relative;
}

.sub-link a::after{
    content: "";
    position: absolute;
    color: #4d9866;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #4d9866;
    transition: all 0.3s ease;
}

.sub-link a:hover::after{
    width: 100%;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 4rem 2rem;
}

/*Carrusel*/
.carousel {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ancho máximo del carrusel */
    margin: auto;
    overflow: hidden; /* Oculta el contenido que sale del contenedor */
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transición suave */
}

.carousel-item {
    min-width: 100%; /* Cada elemento ocupa el ancho completo */
    transition: opacity 0.5s ease;
}

.carousel-item img {
    width: 100%; /* La imagen ocupa todo el ancho */
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e1eee5;
    /*background-color: rgb(225,238,229,0.25);*/
    color: #2F864D;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    z-index: 10;
}

.carousel-btn.prev {
    left: -10px;
}

.carousel-btn.next {
    right: -10px;
}

.carousel-btn:hover {
    background: rgba(47,134,77, 0.7);
    color: #e1eee5;
}

/*Articulo*/
article{
    max-width: 980px;
    margin: auto;
    margin-top: 2rem;
    background-color: rgb(225,238,229,0.31);
    border-radius: 20px;
    padding: 1rem 2rem;
}
article .header{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

article .header i{
    background-color: #323232;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    font-size: 1rem;
}

.article-info{
    line-height: 1.25rem;
}

.article-info h3{
    padding-top: .25rem;
    font-weight: 200;
    letter-spacing: 3%;
    color: #464646;
}

.article-info p{
    margin-top: 0;
    color: #464646;
}

header{
    padding: 1rem 2rem;
}

header h2{
    color: #323232;
}

header p{
    color: #464646;
}

article img{
    padding-top: 1rem;
}

article footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.reward{
    font-size: 2rem;
    font-weight: 300;
    color: #464646;
}

.default-btn{
    background-color: #4d9866;
    padding: 0.70rem 2rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #e1eee5;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.default-btn:hover{
    color: #4d9866;
    background-color: #e1eee5;
}


/*Estilo del modal*/
.modal{
    display: none; /*Oculto por defecto*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);/*Fondo*/
    z-index: 100;/*Lo llevamos hasta el frente*/
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 30px;
    max-width: 900px;
}

.modal-content header{
    line-height: 4rem;
    padding: 1rem 0;
}

.modal-content .title{
    color: #117533;
    font-size: 4rem;
    font-weight: 400;
}

.modal-content .sub-title{
    color: #2F864D;
    font-size: 2rem;
    font-weight: 200;
}

.event-information{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 4rem;
    color: #464646;
    font-size: 1.25rem;
    font-weight: 300;
}

.modal-content p{
    text-align: justify;
    font-size: 1.25rem;
    color: #323232;
}

.modal-content img{
    max-width: 100%;
}

.close{  /*Botón de cierre*/
    position: absolute;
    color: #e1eee5;
    top: 10px;
    right: 20px;
    font-size: 3rem;
    cursor: pointer;
}

/* Media query para pantallas muy grandes */
@media (max-width: 1366px) {
    .modal-content{
        max-height: 500px;
        overflow-y: auto;
    }

     /* Estilo de la barra de desplazamiento (opcional) */
    .modal-content::-webkit-scrollbar {
        width: 8px; /* Ancho de la barra */
    }
    .modal-content::-webkit-scrollbar-thumb {
        background: #ccc; /* Color del "pulgar" */
        border-radius: 4px;
    }
    .modal-content::-webkit-scrollbar-thumb:hover {
        background: #aaa; /* Color del "pulgar" al pasar el cursor */
    }
    .modal-content::-webkit-scrollbar-track {
        background: #f4f4f4; /* Color de la pista */
    }
}